p = t('devise.mailer.reset_password_instructions.hello', email: @resource.email)

p = t('devise.mailer.reset_password_instructions.someone_has_requested')

p = link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token)

p = t('devise.mailer.reset_password_instructions.if_you_did_not_request')

p = t('devise.mailer.reset_password_instructions.password_wont_change')
